// 전역 스타일

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #f5f5f5;
  color: #212121;
}

#root {
  width: 100%;
  min-height: 100vh;
}
